<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bles Profile</title>
  </head>
  <body>
    <h1>Profile page for user with ID: <%= user.stripeId %></h1>
    <a href="/auth/logout"><button>logout</button></a>
  </body>
</html>
